<!--コメント一覧-->
<p>コメント件数：<%= posted_content.posted_comments.count %></p>

<% posted_content.posted_comments.each do |posted_comment| %>
  <div class="comments_index_comment_line">
    <span class="comments_index_profile_image">
      <%= image_tag posted_comment.user.get_profile_image %>
    </span>
    <span>
      <%= posted_comment.user.name %>
    </span>
  <%= posted_comment.comment %>
  <%= posted_comment.created_at.strftime('%Y/%m/%d') %>
  <% if posted_comment.user == current_user %>
        <%= link_to "コメントを削除", public_posted_content_posted_comment_path(posted_content.id, posted_comment.id), method: :delete, remote: :true %>
  <% end %>
  </div>
<% end %>
