<table class="content_index_table">
  <% posted_contents.each do |posted_content| %>
  <tbody>
    <tr>
      <td class="content_index_title"><%= posted_content.title %></td>
    <tr>
      <td class="content_index_category_name"><%= posted_content.category.name%></td>
      <td class="content_index_time_of_day_name"><%= posted_content.time_of_day.name%></td>
      <td class="content_index_user_name"><%= posted_content.user.name%></td>
    </tr>
    <% if posted_content.image.present? %>
    <tr>
      <td class="content_index_thum_box"><%= image_tag posted_content.image %></td>
    </tr>
    <% end %>
    <tr>
      <td class="content_index_sentence"><%= posted_content.sentence%></td>
    </tr>
    <td>
    <!--"自分が投稿したコンテンツではない" かつ "管理者ページではない場合"-->
    <% if posted_content.user_id != current_user.id && !request.path.include?("admin") %>
      <%= form_with model: user_interest do |f| %>
        <div class="interest_action">
          <% f.submit %>
        </div>
      <% end %>
    <% else %>
      <!--CSSを使いリンクをかぶせる-->
      <%= link_to public_posted_content_path(posted_content.id) do %>
        <span class="content_index_over-link"></span>
      <% end %>
    <% end %>
    </td>
  </tbody>
  <% end %>
</table>