<% if @posted_content.errors.any? %>
  あと<%= @posted_content.errors.count %>点、内容を埋めてください
  <ul>
    <% @posted_content.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h2>投稿ページ</h2>

<%= form_with model: @posted_content, url: public_posted_contents_path, method: :post do |f| %>

  <div class="field">
    <%= f.label :image, '投稿画像' %></br>
    <%= f.file_field :image, accept: "image/*", autofocus: true %>
  </div>

   <div class="field">
    <%= f.label :title, '投稿タイトル' %></br>
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :category_id, 'カテゴリー' %></br>
    <%= f.select :category_id, options_from_collection_for_select(@categories, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :time_of_day_id, '時間帯' %></br>
    <%= f.select :time_of_day_id, options_from_collection_for_select(@time_of_days, :id, :name)%>
  </div>

  <div class="field">
    <%= f.label :sentence, '文章' %></br>
    <%= f.text_field :sentence, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "投稿" %>
  </div>

<% end %>