<h1>show page</h1>

  <%= @posted_content.title %>
  <%= @posted_content.time_of_day_id %>
  <%= @posted_content.category_id %>
  <%= @posted_content.user.name %>
  <%= image_tag @posted_content.image %>

