<div>
  <% @results.each do |result| %>
     <table class="users_search_table">
        <tbody>
          <tr>
            <td class="users_search_profile_image img">
              <%= link_to public_user_path(result.id) do %>
                <%= image_tag result.get_profile_image %>
              <% end %>
            </td>
            <td class="users_search_user_name">
              <%= link_to public_user_path(result.id) do %>
                <%= result.name %>
              <% end %>
            </td>
             <td class="users_search_user_introduction">
              <%= link_to public_user_path(result.id) do %>
                <%= result.introduction %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
  <% end %>
</div>